.App-header {
  background-color: rgb(59, 8, 8);
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2em;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}
